# Dependencies
node_modules/

# Environment variables
.env

# Log files
*.log
logs/
npm-debug.log*

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# OS/System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Debugging
*.tgz
